@use "@/styles/tokens/typography" as t;

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: auto;

  width: 100%;
  height: 38px;
  padding-inline: var(--size-xl);
  padding-block: var(--size-l);

  &--default {
    background-color: var(--color-on-surface-1);
  }

  &--warning {
    background-color: var(--color-alert);
  }

  &--expired {
    background-color: var(--color-surface-1-contrast);
  }

  &__number {
    @include t.label-2;
    color: var(--color-surface-1);
  }
}
