:root {
  /* ========================================
   * Primitive sizes
   * ====================================== */
  --p-size-0: 0px;
  --p-size-1: 2px;
  --p-size-2: 4px;
  --p-size-3: 8px;
  --p-size-4: 16px;
  --p-size-5: 32px;
  --p-size-6: 40px;
  --p-size-7: 80px;
  --p-size-100: 1000px;

  /* ========================================
   * Semantic sizes
   * ====================================== */
  --size-xs: var(--p-size-0);
  --size-s: var(--p-size-1);
  --size-m: var(--p-size-2);
  --size-l: var(--p-size-3);
  --size-xl: var(--p-size-4);
  --size-2xl: var(--p-size-5);
  --size-3xl: var(--p-size-6);
  --size-4xl: var(--p-size-7);
  --size-5xl: var(--p-size-100);
}
