.overlay {
  position: fixed;
  inset: 0;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;

  // --color-on-surface-1 (#101A2E) at 80% opacity
  background-color: rgba(16, 26, 46, 0.8);
}
