@use "@/styles/tokens/typography" as t;

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: var(--size-m);
  padding-block: var(--size-4xl);
}

.image {
  width: 260px;
}

.title {
  @include t.heading-2;
  color: var(--color-on-surface-1);
}

.description {
  @include t.paragraph-2;
  color: var(--color-surface-1-contrast);
}
